$text1: 4.6rem; //h1
$text2: 2.3rem; //大標
$text3: 1.75rem; //副標
$text4: 1.5rem; //小標
$text5: 1.25rem; //內容
$text6: 0.75rem; //補充

$color1: #295c82;//大標
$color2: #566b97;//副標
$color3: #688eaa;//小標 漸層色1
$color4:#fff;//白色文字
$color5: #1b433e;//深綠文字 底線
$color6: #324362;//NavBar 漸層色2
$color7: rgba(255,255,255,0.9);//search contentBG
$color8: rgba(255,255,255,0.6);//search contentBG

$radius: 5px;
$sideWidth: 350px;

html {
  font-size: 16px;
}

body {
  margin: 0;
  background-color: $color6;
}

ul {
  margin-bottom: 0;
  padding: 0;
}

li {
  list-style: none;
}

* {
  font-family: "Noto Serif TC", serif;
  word-wrap:break-word;
}

.center {
  display: flex;
  justify-content: center;
}

@mixin Cube($textSize,$BGcolor,$color) {
    width: 100%;
    padding: 0.45rem 0;
    text-align: center;
    line-height: $textSize;
    background: $BGcolor;
    border-radius: $radius;
    color: $color;
    font-size: $textSize;
}

@mixin BottomLine($textSize) {
    width: 100%;
    padding: 0.45rem 0;
    text-align: center;
    line-height: $textSize;
    color: $color5;
    border-bottom: solid 2px $color5;
}

@mixin MarginHigth() {
  padding: 30px 0;
}
