body {
  margin: 0;
}

* {
  font-family: "Noto Serif TC", serif;
  word-wrap: break-word;
}

.navbar {
  background-color: #252d59;
  height: 64px;
}

.navbar .navbar-nav {
  padding: 0 30px;
}

.navbar .navbar-nav .logo {
  margin: 0 35px;
  padding: 0 10px;
  position: relative;
  font-weight: 200;
  font-size: 28px;
}

.navbar .navbar-nav .logo::before {
  position: absolute;
  content: "";
  background-image: url(/images/interview.png?167ae4471606df10c7ec7ce1e2c77650);
  background-size: contain;
  width: 35px;
  height: 35px;
  left: -35px;
  top: 3px;
}

